<!DOCTYPE html>
<html lang="pt-br">

  {% include head.html %}

  <body id="page-top" class="index">

    {% include header.html %}

    <!-- Header -->
    <header style="background-image: url('{{ site.baseurl }}/img/{{ page.background }}')">
        <div class="container">
            <div class="intro-text">
              <div class="intro-heading">{{ page.heading }}</div>
            </div>
        </div>
    </header>

    {% if page.title == "Sobre" %}
    <section id="about">
        <div class="container">
            <div class="row text-center">
                <div class="col-md-8 col-md-offset-2">
                    {{ content }}
                </div>
            </div>
        </div>
    </section>
    {% endif %}

    {% if page.title == "Time" %}
    <section id="team">
        <div class="container">
            <div class="row">
            <p class="text-center">Em Construção!</p>
                <!--<div class="col-sm-4">
                    <div class="team-member">
                        <img src="http://placehold.it/225x225&text=Foto" class="img-responsive img-circle" alt="">
                        <h4>Fulano de Tal</h4>
                        <p class="text-muted">Desenvolvedor</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="http://placehold.it/225x225&text=Foto" class="img-responsive img-circle" alt="">
                        <h4>Beltrano da Silva</h4>
                        <p class="text-muted">Desenvolvedor</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="team-member">
                        <img src="http://placehold.it/225x225&text=Foto" class="img-responsive img-circle" alt="">
                        <h4>Sicrana de Sousa</h4>
                        <p class="text-muted">Analista de Projetos</p>
                        <ul class="list-inline social-buttons">
                            <li><a href="#"><i class="fa fa-twitter"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-facebook"></i></a>
                            </li>
                            <li><a href="#"><i class="fa fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
                </div> -->
            </div>
        </div>
    </section>
    {% endif %}

    {% if page.title == "Contato" %}
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <form action="http://formspree.io/contato.sysmob@gmail.com" method="POST">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" name="name" class="form-control" placeholder="Seu Nome">
                                </div>
                                <div class="form-group">
                                    <input type="email" name="_replyto" class="form-control" placeholder="Seu E-mail">
                                </div>
                                <div class="form-group">
                                    <input type="text" name="subject" class="form-control" placeholder="Assunto da Mensagem">
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Sua Mensagem" name="message"></textarea>
                                </div>
                            </div>
                            <div class="clearfix"></div>
                            <div class="col-lg-12 text-center">
                                <br>
                                <input type="submit" value="Enviar" class="btn btn-xl">
                                <input type="hidden" name="_next" value="{{ site.baseurl }}/contact" />
                                <input type="hidden" name="_subject" value="Contato com o Sysmob" />
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    {% endif %}

  {% if page.title == "Blog" %}
    <section>
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2">
            {% for post in site.posts %}
              <div class="media">
                {% if post.image %}
                  <div class="media-left">
                    <a href="{{ site.baseurl }}{{ post.url }}">
                      <img class="media-object" src="{{ site.baseurl }}/img/posts/{{ post.image }}" alt="{{ post.title }}" style="max-height: 150px; max-width: 150px;">
                    </a>
                  </div>
                {% endif %}

                <div class="media-body">
                  <a href="{{ site.baseurl }}{{ post.url }}">
                    <h4 class="media-heading">{{ post.title }} <small class="text-muted">{{ post.date | date: "%d/%m/%Y" }}</small></h4>
                  </a>

                  <br>

                  {{ post.content | truncatewords:35 | strip_html }}

                  <a href="{{ site.baseurl }}{{ post.url }}" class="btn btn-link">Leia [+]</a>
                </div>
              </div>

              <br><hr>
            {% endfor %}
          </div>
        </div>
      </div>
    </section>
  {% endif %}

    {% include footer.html %}

  </body>

</html>
